
.inner-Footer {
    width: 100%;
    max-height: 8rem;
    background: linear-gradient(97.61deg, #252D4D 34.21%, #3992D9 74.92%);
    display: flex;
    align-items: center;
}

.content-footer {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon:hover {
    color: #3992D9;
}

.iconContainer {
    display: flex;
}

.text-footer {
    color: rgb(233, 227, 227);
    font-size: calc(9px + 1vmin);
    text-align: center;
}